body {
    font-family: Arial,sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url("imagenes/Fondo\ 1.jpg")
}


.img1 img{
    max-width: 40%;
   margin-left: 30%;
}

.boton-imagen {
    position: absolute; 
    top: 50%; 
    right: 110px; 
    transform: translateY(-50%); 
    z-index: 999;
    border: none; 
    background: none;
    cursor: pointer; 
    padding: 0; 
}

.boton-imagen img{
    width: 100px;
}