body{
    background-image: url("imagenes/Fondo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
}

.Uno {
    text-align: center; 
    color: aquamarine;
    font-size: 130px;
    font-weight: bold;
    margin-bottom: 32px;
    margin-left: 32px;
    font-family: 'Onely Sans', sans-serif;                                  
    user-select: none;
    margin-right: 700px;
  }

  .buttonUno{
  display: block;
  position: absolute;
  top: 26%;
  max-width: 20%;
  height: auto;
  left: 34%; 
  transform: translateX(-50%);

  }
  .buttondos{
    display: block;
    position: absolute;
    top: 40%;
    max-width: 20%;
    height: auto;
    right: 13%;
  }

  .buttontres{
    display: block;
    position: absolute;
    top: 40%;
    max-width: 200px;
    height: auto;
    right: 28%;
    transform: translateX(-50%);
  }

  .buttoncuatro{
    display: block;
    position: absolute;
    top: 82%;
    max-width: 15%;
    height: auto;
    right: 44%;
  }

  .box1{
    width: 470px;
    height: 470px;
    display: block;
    position: absolute;
    top: 55%;
    left: 28%;
    margin-top: -225px; 
    margin-left: -125px; 
    line-height: 260px;
    border-radius: 25px; 
    border: solid orange;   
    border-width: thick 7px;
    }
    .box2{
      width: 470px;
      height: 580px;
      display: block;
      position: absolute;
      top: 43%;
      left: 57%;
      margin-top: -225px; 
      margin-left: -125px; 
      line-height: 260px;
      border-radius: 25px; 
      border: solid orange;   
      border-width: thick 7px;
    }
  
 
 
 
 
 
 
 