body {
    background-image: url('../assets/bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container .row {
    width: 450px;
    margin: auto;
    padding: auto;
    position: relative;

}
