body {
    margin: 0;
    padding: 0;
    background-image: url("imagenes/Fondo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.titulo{
    position: absolute;
    left: 30%;
    top: -13%;
    font-size: 130px;
    font-weight: bold;
    font-family: 'Arial Black';
    user-select: none;
    color: rgb(132, 218, 132);
}

.retroalimentacion{
    position: absolute;
    top: 18%;
    left: 24%;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Arial';
    user-select: none;
    color: rgb(255, 186, 37);
}

.box {
    width: 50%;
    height: 45%;
    display: block;
    position: absolute;
    top: 55%;
    left: 32%;
    margin-top: -220px; 
    margin-left: -125px;
    line-height: 260px;
    border-radius: 25px; 
    border: solid rgb(238, 127, 127);   
    border-width: thick 7px;
    }

.imagen {
    display: block;
    position: absolute;
    top: 29%;
    max-width: 20%;
    height: auto;
    left: 50%; 
    transform: translateX(-50%);
    }

.siguiente {
    display: block;
    position: absolute;
    top: 42%;
    max-width: 20%;
    height: auto;
    right: 78%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}
    
  .siguiente:hover {
    transform: scale(1.3);
} 
    
  .retroceso {
    display: block;
    position: absolute;
    top: 2%;
    max-width: 200px;
    height: auto;
    left: 4%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}
    
  .retroceso:hover {
    transform: scale(1.2);
} 

  .progreso {
    display: block;
    position: absolute;
    top: 82%;
    max-width: 15%;
    height: auto;
    right: 44%;
}